# Ignore everything...
*
# ... except some package/theme preference files and package list
!.gitignore
!Adaptive.sublime-theme
!Default.sublime-mousemap
!Monokai.sublime-color-scheme
!Package Control.sublime-settings
!Preferences.sublime-settings
!trailing_spaces.sublime-settings
